.credentials_flex {
  height: 260px;
  width: 345px;
  background-color: #fff9f3;
  position: relative;
  opacity: 75%;
  margin-top: 5%;
}

.credentials_outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.credentials_form {
  font-family: "Gagalin-Regular";
  color: #414b3b;
  position: relative;
  font-size: 22px;
  margin-top: 5%;
  margin-left: 6.5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form_input {
  height: 30px;
  width: 300px;
  text-align: center;
}

.floating_logo {
  z-index: 1;
  position: relative;
}

.solid_logo {
  position: relative;
  height: 120px;
  opacity: 75%;
}

.label_text {
  align-self: center;
  text-align: center;
  margin-left: 30%;
}

.fpasspart {
  transform: translateY(-100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fpass {
  position: relative;
  color: #414b3b;
  font-size: 15.5px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s;
  margin-right: 7%;
}

.fpass:hover {
  color: black;
  font-size: 16px;
  text-decoration: underline;
}

.credential_submit {
  background-color: #414b3b;
  color: #fff9f3;
  height: 52px;
  width: 125px;
  font-family: "Gagalin-Regular";
  font-size: 20px;
  margin-left: 25%;
  transform: translateY(-65%);
}

.credential_submit:hover {
  height: 55px;
  width: 128px;
  font-size: 22px;
  transform: translateY(-61%);
  cursor: pointer;
  text-decoration: underline;
}

.show_password {
  padding: 2px;
}

.show_password_text {
  font-size: 15px;
  font-weight: lighter;
  padding: 2px;
  padding-bottom: 4px;
}

.invalid {
  border-color: red;
  position: absolute;
}

.invalid_message {
  transform: translateY(-152%);
  font-size: 10;
  color: red;
}

.inv_text {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 1.5%;
}

.invalid_fpasspart {
  transform: translateY(-252%);
}

.inv_credential_submit {
  transform: translateY(-130%);
}

.inv_credential_submit:hover {
  transform: translateY(-125%);
}

.invalid_text {
  z-index: 2;
}
