.welcome_main {
  /* background-color: #e5ffd4; */
  background: linear-gradient(
    180deg,
    #416162,
    #9face6 20%,
    #74ebd5 40%,
    transparent
  );
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  min-height: 100vh;
  width: 100%;
  position: static;
  padding-top: 85px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.welcome_message {
  display: flex;
  flex-direction: row;
  width: 900px;
}

.welcome_note {
  font-family: "Gagalin-Regular";
  color: black;
  position: relative;
  margin-top: 35px;
  font-size: 42px;
  padding-left: 25px;
  font-weight: lighter;
}

.rocket_icon {
  width: 90px;
  height: 90px;
  margin-top: 35px;
  margin-left: 25px;
  color: black;
}

.welcome_paths {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.welcome_path {
  background-color: #416162;
  padding: 20px;
  padding-top: 22px;
  padding-bottom: 25px;
  width: 360;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  position: relative;
}

.path_img {
  height: 300px;
  width: 360px;
  border-radius: 20px 20px 20px 20px;
  opacity: 1;
  transition: 0.25 ease;
  backface-visibility: hidden;
  filter: sepia(75%);
}

.path_img:hover {
  filter: none;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.welcome_path:hover .path_img {
  opacity: 0.3;
}

.welcome_path:hover .middle {
  opacity: 1;
}

.path_img_text {
  background-color: #04aa6d4f;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.path_img .path_img:hover {
  filter: none;
}

.path_font {
  color: white;
  background-color: #182525;
  text-decoration: none;
  font-family: "Gagalin-Regular";
  font-size: 30px;
  position: absolute;
  padding: 12px;
  transform: translate(0, 285%);
  border-radius: 20px 20px 0 20px;
}

.path_font:hover {
  text-decoration: underline;
  font-size: 32px;
  padding: 14px;
  transform: translate(0, 260%);
  background-color: #bccfcf;
  color: #182525;
}
