<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/credentials.css">
    <link href="https://db.onlinewebfonts.com/c/240a7cb10b49b02c94ceddc459d385a9?family=Gagalin-Regular"
        rel="stylesheet">
    <title>ROCK FETCH</title>
</head>

<body>
    <section>
        <div class="index_main">
            <video autoplay loop muted playsinline class="index_bg_video">
                <source src="./videos/main_bg.mp4" type="video/mp4">
            </video>

            <div class="floating_logo">
                <img src="/images/solid_logo.jpg" alt="logo_image" class="solid_logo">

            </div>

            <div class="credentials_outer">


                <div class="credentials_flex">
                    <form action="/login" method="post" class="credentials_form">
                        <div>
                            <label for="username" class="label_text">Username:</label><br>
                            <input type="text" name="username" placeholder="Enter your Username" class="form_input"><br>
                        </div>
                        <div>
                            <label for="password" class="label_text">Password:</label><br>
                            <input type="password" name="password" placeholder="Please enter your password"
                                class="form_input" id="myInput"><br>
                            <input type="checkbox" onclick="myFunction()" class="show_password"><span
                                class="show_password_text">Show
                                Password</span>

                        </div>
                        <div class="fpasspart">
                            <a href="#" class="fpass">Sign Up</a>
                            <a href="#" class="fpass">Forgot Password</a>
                        </div>
                        <div>
                            <input type="submit" class="credential_submit" value="LOG IN">
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </section>

    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

</body>



</html>