<%- include('partials/header.ejs') %>

    <div class="welcome_main">
        <div class="welcome_message">
            <h3 class="welcome_note">Hi <%= username %>, <br> Where are you heading today??</h3>
            <img src="/images/rocket_icon.png" alt="rocket" class="rocket_icon">
        </div>

        <div class="welcome_paths">
            <div class="welcome_path">
                <img src="/images/store2.jpg" alt="store" class="path_img">
                <div class="middle">
                    <div class="path_img_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore commodi
                        explicabo placeat itaque molestias vel veritatis error distinctio repudiandae sed quis dolorem
                        animi, doloribus sunt aut fac
                    </div>

                </div>
                <a href="/store" class="path_font">STORE</a>


            </div>
            <div class="welcome_path">
                <img src="/images/car_pooling2.jpg" alt="store" class="path_img">
                <div class="middle">
                    <div class="path_img_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore commodi
                        explicabo placeat itaque molestias vel veritatis error distinctio repudiandae sed quis dolorem
                        animi, doloribus sunt aut fac
                    </div>

                </div>
                <a href="/car_pool" class="path_font"> CAR POOLING</a>


            </div>
            <div class="welcome_path">
                <img src="/images/networking2.jpg" alt="store" class="path_img">
                <div class="middle">
                    <div class="path_img_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore commodi
                        explicabo placeat itaque molestias vel veritatis error distinctio repudiandae sed quis dolorem
                        animi, doloribus sunt aut fac
                    </div>

                </div>
                <a href="/networking" class="path_font">NETWORKING</a>


            </div>


        </div>

    </div>

    <%- include('partials/footer.ejs') %>